body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*----SIDE NAVBAR-----*/
.sidenav {
    height: 100%;
    width:200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav .navbarItem {
        padding: 8px 8px 8px 40px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav .navbarItem:hover {
        color: #f1f1f1;
    }

    .sidenav .navbarItem-collapse {
        font-size: 25px;
        color: #818181;
        transition: 0.3s;
        display: none;
    }
        .sidenav .navbarItem-collapse:hover {
            transition: 0.3s;
            color: #f1f1f1;
        }

    .sidenav .navbarItem-collapse {
        padding: 15px 10px;
    }
#openNavbar {
    position: fixed;
    top: 12px;
    left: 8px;
}

@media screen and (max-width: 760px) {
    .sidenav {
        width:50px;
    }

    .sidenav .navbarItem {
        display: none;
    }
    .sidenav .navbarItem-collapse {
        display: block;
        text-align: center;
    }
    .body-content {
        transition: margin-left .5s;
        margin-left:50px!important;
    }

}


.body-content{
   transition: margin-left .5s;
   margin-left:200px
}

